<div class="bar">
    <app-app-icons iconclass="findericon"></app-app-icons>
    <app-app-icons url="/icons/mail.png" iconclass="mailicon" (click)="ShowMail()"></app-app-icons>
    <app-app-icons url="/icons/note.png" iconclass="noteicon" (click)="ShowNote()"></app-app-icons>
    <app-app-icons url="/icons/photo.png" iconclass="photoicon" (click)="ShowPhoto()"></app-app-icons>
    <app-app-icons url="/icons/safari.png" iconclass="safariison" (click)="ShowSafari()"></app-app-icons>
    <app-app-icons url="/icons/setting.png" iconclass="settingison" (click)="ShowSetting()" ></app-app-icons>
</div>