<div class="fenetre">
    <app-mac-btn (remove)="onQuit()"></app-mac-btn>
    <div class="contente">
        <div class="setting-name">
            <app-setting-case></app-setting-case>
            <app-setting-case></app-setting-case>
            <app-setting-case></app-setting-case>
            <app-setting-case></app-setting-case>
            <app-setting-case></app-setting-case>
            <app-setting-case></app-setting-case>
            <app-setting-case></app-setting-case>
        </div>
        <div class="setting-view">
            <p>test</p>
        </div>
    </div>
</div>