<app-nav-bar></app-nav-bar>
@if (isNoteVisible==true) {
    <app-fenetre-note (remove)="onQuitNote($event)"></app-fenetre-note>
}
@if (isMailVisible==true) {
    <!-- <app-fenetre (remove)="onQuitMail($event)"></app-fenetre> -->
    <app-fenetre-mail (remove)="onQuitMail($event)"></app-fenetre-mail>
}
@if (isPhotoVisible==true) {
    <app-fenetre-photo (remove)="onQuitPhoto($event)"></app-fenetre-photo>
}
 @if (isSafariVisible==true) {
     <app-fenetre-safari (remove)="onQuitSafari($event)"></app-fenetre-safari>
 }
@if (isSettingVisible==true) {
<app-fenetre-setting (remove)="onQuitSetting($event)"></app-fenetre-setting>
}
<app-folders></app-folders>
<app-folders text="Comming Soon..." stylefolder="two"></app-folders>
<app-app-bar (exec)="onShowWindows($event)"></app-app-bar>