<div class="navbar">
    <div class="burger-menu" (click)="toggleMenu()" [class.hidden]="isMenuOpen">
        <!-- <i class="fas fa-bars"></i> -->
         <p>test</p>
    </div>
    <div class="first" [class.active]="isMenuOpen">
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <ul>
            <strong><app-links text="Finder"></app-links></strong>
            <app-links text="Projects"></app-links>
            <app-links text="Contact"></app-links>
        </ul>
    </div>
    <div class="second">
        <app-socials-icons></app-socials-icons>
        <app-socials-icons url="https://www.instagram.com/esteban_h072/" icon="fa-instagram"></app-socials-icons>
        <app-socials-icons url="#" icon="fa-square-facebook"></app-socials-icons>
        <p id="date"></p>
    </div>
</div>